.col-xs-golden-large,
.col-sm-golden-large,
.col-md-golden-large,
.col-lg-golden-large,
.col-xs-golden-small,
.col-sm-golden-small,
.col-md-golden-small,
.col-lg-golden-small {
  position: relative;
  min-height: 1px;
  padding-left: 11px;
  padding-right: 11px;
  float: left;
  width: 100%;
}
.col-xs-golden-large.pull-center,
.col-sm-golden-large.pull-center,
.col-md-golden-large.pull-center,
.col-lg-golden-large.pull-center,
.col-xs-golden-small.pull-center,
.col-sm-golden-small.pull-center,
.col-md-golden-small.pull-center,
.col-lg-golden-small.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.col-xs-golden-large {
  width: 61.803398874989476%;
}
.col-xs-golden-small {
  width: 38.196601125010524%;
}
.col-xs-pull-golden-large {
  right: 61.803398874989476%;
}
.col-xs-pull-golden-small {
  right: 38.196601125010524%;
}
.col-xs-push-golden-large {
  left: 61.803398874989476%;
}
.col-xs-push-golden-small {
  left: 38.196601125010524%;
}
.col-xs-offset-golden-large {
  margin-left: 61.803398874989476%;
}
.col-xs-offset-golden-small {
  margin-left: 38.196601125010524%;
}
@media (min-width: 768px) {
  .col-sm-golden-large {
    width: 61.803398874989476%;
  }
  .col-sm-golden-small {
    width: 38.196601125010524%;
  }
  .col-sm-pull-golden-large {
    right: 61.803398874989476%;
  }
  .col-sm-pull-golden-small {
    right: 38.196601125010524%;
  }
  .col-sm-push-golden-large {
    left: 61.803398874989476%;
  }
  .col-sm-push-golden-small {
    left: 38.196601125010524%;
  }
  .col-sm-offset-golden-large {
    margin-left: 61.803398874989476%;
  }
  .col-sm-offset-golden-small {
    margin-left: 38.196601125010524%;
  }
}
@media (min-width: 992px) {
  .col-md-golden-large {
    width: 61.803398874989476%;
  }
  .col-md-golden-small {
    width: 38.196601125010524%;
  }
  .col-md-pull-golden-large {
    right: 61.803398874989476%;
  }
  .col-md-pull-golden-small {
    right: 38.196601125010524%;
  }
  .col-md-push-golden-large {
    left: 61.803398874989476%;
  }
  .col-md-push-golden-small {
    left: 38.196601125010524%;
  }
  .col-md-offset-golden-large {
    margin-left: 61.803398874989476%;
  }
  .col-md-offset-golden-small {
    margin-left: 38.196601125010524%;
  }
}
@media (min-width: 1200px) {
  .col-lg-golden-large {
    width: 61.803398874989476%;
  }
  .col-lg-golden-small {
    width: 38.196601125010524%;
  }
  .col-lg-pull-golden-large {
    right: 61.803398874989476%;
  }
  .col-lg-pull-golden-small {
    right: 38.196601125010524%;
  }
  .col-lg-push-golden-large {
    left: 61.803398874989476%;
  }
  .col-lg-push-golden-small {
    left: 38.196601125010524%;
  }
  .col-lg-offset-golden-large {
    margin-left: 61.803398874989476%;
  }
  .col-lg-offset-golden-small {
    margin-left: 38.196601125010524%;
  }
}
.row-golden-large:before,
.row-golden-small:before,
.row-golden-large.row:after,
.row-golden-small.row:after {
  content: " ";
  display: table;
}
.row-golden-large:after,
.row-golden-small:after {
  clear: both;
}
.row-golden-large {
  height: 61.803398874989476%;
}
.row-golden-small {
  height: 38.196601125010524%;
}
.row-pull-golden-large {
  bottom: 61.803398874989476%;
}
.row-pull-golden-small {
  bottom: 38.196601125010524%;
}
.row-push-golden-large {
  top: 61.803398874989476%;
}
.row-push-golden-small {
  top: 38.196601125010524%;
}
.row-offset-golden-large {
  margin-top: 61.803398874989476%;
}
.row-offset-golden-small {
  margin-top: 38.196601125010524%;
}
.row-center-golden-large {
  margin-top: 19.098300562505262%;
}
.row-center-golden-small {
  margin-top: 30.901699437494738%;
}
.golden-container,
.golden-container-margin-large,
.golden-container-margin-small,
.golden-container-margin-half-large,
.golden-container-margin-half-small {
  margin-left: auto;
  margin-right: auto;
  padding-left: 11px;
  padding-right: 11px;
}
.golden-container:before,
.golden-container-margin-large:before,
.golden-container-margin-small:before,
.golden-container-margin-half-large:before,
.golden-container-margin-half-small:before,
.golden-container:after,
.golden-container-margin-large:after,
.golden-container-margin-small:after,
.golden-container-margin-half-large:after,
.golden-container-margin-half-small:after {
  content: " ";
  display: table;
}
.golden-container:after,
.golden-container-margin-large:after,
.golden-container-margin-small:after,
.golden-container-margin-half-large:after,
.golden-container-margin-half-small:after {
  clear: both;
}
.golden-container {
  width: 100%;
}
@media (min-width: 768px) {
  .golden-container {
    width: 61.803398874989476%;
  }
}
@media (min-width: 992px) {
  .golden-container {
    width: 38.196601125010524%;
  }
}
@media (min-width: 1200px) {
  .golden-container {
    width: 44.721359549995796%;
  }
}
.golden-container-margin-large {
  width: 23.60679774997897%;
}
.golden-container-margin-small {
  width: 44.721359549995796%;
}
.golden-container-margin-half-large {
  width: 38.196601125010524%;
}
.golden-container-margin-half-small {
  width: 61.803398874989476%;
}
.golden-typography {
  font-size: 14px;
  line-height: 1.618033988749895;
}
.golden-typography hr {
  margin-top: 22px;
  margin-bottom: 22px;
}
.golden-typography p {
  margin: 0 0 11px;
}
.golden-typography .lead {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 1.618033988749895;
}
@media (min-width: 768px) {
  .golden-typography .lead {
    font-size: 22.65247584249853px;
  }
}
.golden-typography small,
.golden-typography .small {
  font-size: 61.803398874989476%;
}
.golden-typography h1,
.golden-typography h2,
.golden-typography h3,
.golden-typography h4,
.golden-typography h5,
.golden-typography h6,
.golden-typography .h1,
.golden-typography .h2,
.golden-typography .h3,
.golden-typography .h4,
.golden-typography .h5,
.golden-typography .h6 {
  line-height: 1.1618033988749894;
}
.golden-typography h1 small,
.golden-typography h2 small,
.golden-typography h3 small,
.golden-typography h4 small,
.golden-typography h5 small,
.golden-typography h6 small,
.golden-typography .h1 small,
.golden-typography .h2 small,
.golden-typography .h3 small,
.golden-typography .h4 small,
.golden-typography .h5 small,
.golden-typography .h6 small,
.golden-typography h1 .small,
.golden-typography h2 .small,
.golden-typography h3 .small,
.golden-typography h4 .small,
.golden-typography h5 .small,
.golden-typography h6 .small,
.golden-typography .h1 .small,
.golden-typography .h2 .small,
.golden-typography .h3 .small,
.golden-typography .h4 .small,
.golden-typography .h5 .small,
.golden-typography .h6 .small {
  line-height: 1;
}
.golden-typography h1,
.golden-typography h2,
.golden-typography h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}
.golden-typography h1 small,
.golden-typography h2 small,
.golden-typography h3 small,
.golden-typography h1 .small,
.golden-typography h2 .small,
.golden-typography h3 .small {
  font-size: 61.803398874989476%;
}
.golden-typography h4,
.golden-typography h5,
.golden-typography h6 {
  margin-top: 11px;
  margin-bottom: 11px;
}
.golden-typography h4 small,
.golden-typography h5 small,
.golden-typography h6 small,
.golden-typography h4 .small,
.golden-typography h5 .small,
.golden-typography h6 .small {
  font-size: 61.803398874989476%;
}
.golden-typography h1,
.golden-typography .h1 {
  font-size: 68px;
}
.golden-typography h2,
.golden-typography .h2 {
  font-size: 45px;
}
.golden-typography h3,
.golden-typography .h3 {
  font-size: 23px;
}
.golden-typography h4,
.golden-typography .h4 {
  font-size: 18px;
}
.golden-typography h5,
.golden-typography .h5 {
  font-size: 14px;
}
.golden-typography h6,
.golden-typography .h6 {
  font-size: 10px;
}
.golden-typography .page-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
}
.golden-typography ul,
.golden-typography ol {
  margin-top: 0;
  margin-bottom: 11px;
}
.golden-typography ul ul,
.golden-typography ol ul,
.golden-typography ul ol,
.golden-typography ol ol {
  margin-bottom: 0;
}
.golden-typography dl {
  margin-bottom: 22px;
}
.golden-typography dt,
.golden-typography dd {
  line-height: 1.618033988749895;
}
.golden-typography blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
}
.golden-typography blockquote p {
  font-size: 18px;
  line-height: 1.618033988749895;
}
.golden-typography blockquote small {
  line-height: 1.618033988749895;
}
.golden-typography address {
  margin-bottom: 22px;
  line-height: 1.618033988749895;
}
.golden-content {
  width: 435.74456516497344px;
}
.golden-content.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.golden-content.columns-2 {
  width: 100%;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 435.74456516497344px;
  -webkit-column-width: 435.74456516497344px;
  column-width: 435.74456516497344px;
  -moz-column-gap: 22px;
  -webkit-column-gap: 22px;
  column-gap: 22px;
}
.golden-content.columns-3 {
  width: 100%;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 435.74456516497344px;
  -webkit-column-width: 435.74456516497344px;
  column-width: 435.74456516497344px;
  -moz-column-gap: 22px;
  -webkit-column-gap: 22px;
  column-gap: 22px;
}
