.golden-container,
.golden-large-container-xs,
.golden-large-container-sm,
.golden-large-container-md,
.golden-large-container-lg,
.golden-small-container-xs,
.golden-small-container-sm,
.golden-small-container-md,
.golden-small-container-lg {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.golden-container:before,
.golden-large-container-xs:before,
.golden-large-container-sm:before,
.golden-large-container-md:before,
.golden-large-container-lg:before,
.golden-small-container-xs:before,
.golden-small-container-sm:before,
.golden-small-container-md:before,
.golden-small-container-lg:before,
.golden-container:after,
.golden-large-container-xs:after,
.golden-large-container-sm:after,
.golden-large-container-md:after,
.golden-large-container-lg:after,
.golden-small-container-xs:after,
.golden-small-container-sm:after,
.golden-small-container-md:after,
.golden-small-container-lg:after {
  content: " ";
  display: table;
}
.golden-container:after,
.golden-large-container-xs:after,
.golden-large-container-sm:after,
.golden-large-container-md:after,
.golden-large-container-lg:after,
.golden-small-container-xs:after,
.golden-small-container-sm:after,
.golden-small-container-md:after,
.golden-small-container-lg:after {
  clear: both;
}
.golden-large-col-xs,
.golden-large-col-sm,
.golden-large-col-md,
.golden-large-col-lg,
.golden-small-col-xs,
.golden-small-col-sm,
.golden-small-col-md,
.golden-small-col-lg {
  position: relative;
  min-height: 1px;
  padding-left: 11px;
  padding-right: 11px;
  float: left;
  width: 100%;
}
.golden-large-col-xs.pull-center,
.golden-large-col-sm.pull-center,
.golden-large-col-md.pull-center,
.golden-large-col-lg.pull-center,
.golden-small-col-xs.pull-center,
.golden-small-col-sm.pull-center,
.golden-small-col-md.pull-center,
.golden-small-col-lg.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.golden-container {
  width: 100%;
}
.golden-large-container-xs {
  width: 61.803398874989476%;
}
.golden-small-container-xs {
  width: 38.196601125010524%;
}
.golden-large-col-xs {
  width: 61.803398874989476%;
}
.golden-small-col-xs {
  width: 38.196601125010524%;
}
.golden-large-col-xs-pull {
  right: 61.803398874989476%;
}
.golden-small-col-xs-pull {
  right: 38.196601125010524%;
}
.golden-large-col-xs-push {
  left: 61.803398874989476%;
}
.golden-small-col-xs-push {
  left: 38.196601125010524%;
}
.golden-large-col-xs-offset {
  margin-left: 61.803398874989476%;
}
.golden-small-col-xs-offset {
  margin-left: 38.196601125010524%;
}
@media (min-width: 768px) {
  .golden-container {
    width: 61.803398874989476%;
  }
  .golden-large-container-sm {
    width: 61.803398874989476%;
  }
  .golden-small-container-sm {
    width: 38.196601125010524%;
  }
  .golden-large-col-sm {
    width: 61.803398874989476%;
  }
  .golden-small-col-sm {
    width: 38.196601125010524%;
  }
  .golden-large-col-sm-pull {
    right: 61.803398874989476%;
  }
  .golden-small-col-sm-pull {
    right: 38.196601125010524%;
  }
  .golden-large-col-sm-push {
    left: 61.803398874989476%;
  }
  .golden-small-col-sm-push {
    left: 38.196601125010524%;
  }
  .golden-large-col-sm-offset {
    margin-left: 61.803398874989476%;
  }
  .golden-small-col-sm-offset {
    margin-left: 38.196601125010524%;
  }
}
@media (min-width: 992px) {
  .golden-container {
    width: 61.803398874989476%;
  }
  .golden-large-container-md {
    width: 61.803398874989476%;
  }
  .golden-small-container-md {
    width: 38.196601125010524%;
  }
  .golden-large-col-md {
    width: 61.803398874989476%;
  }
  .golden-small-col-md {
    width: 38.196601125010524%;
  }
  .golden-large-col-md-pull {
    right: 61.803398874989476%;
  }
  .golden-small-col-md-pull {
    right: 38.196601125010524%;
  }
  .golden-large-col-md-push {
    left: 61.803398874989476%;
  }
  .golden-small-col-md-push {
    left: 38.196601125010524%;
  }
  .golden-large-col-md-offset {
    margin-left: 61.803398874989476%;
  }
  .golden-small-col-md-offset {
    margin-left: 38.196601125010524%;
  }
}
@media (min-width: 1200px) {
  .golden-container {
    width: 38.196601125010524%;
  }
  .golden-large-container-lg {
    width: 61.803398874989476%;
  }
  .golden-small-container-lg {
    width: 38.196601125010524%;
  }
  .golden-large-col-lg {
    width: 61.803398874989476%;
  }
  .golden-small-col-lg {
    width: 38.196601125010524%;
  }
  .golden-large-col-lg-pull {
    right: 61.803398874989476%;
  }
  .golden-small-col-lg-pull {
    right: 38.196601125010524%;
  }
  .golden-large-col-lg-push {
    left: 61.803398874989476%;
  }
  .golden-small-col-lg-push {
    left: 38.196601125010524%;
  }
  .golden-large-col-lg-offset {
    margin-left: 61.803398874989476%;
  }
  .golden-small-col-lg-offset {
    margin-left: 38.196601125010524%;
  }
}
.golden-large-row:before,
.golden-small-row:before,
.golden-large-row:after,
.golden-small-row:after {
  content: " ";
  display: table;
}
.golden-large-row:after,
.golden-small-row:after {
  clear: both;
}
.golden-large-row {
  height: 61.803398874989476%;
}
.golden-small-row {
  height: 38.196601125010524%;
}
.golden-large-row-pull {
  bottom: 61.803398874989476%;
}
.golden-small-row-pull {
  bottom: 38.196601125010524%;
}
.golden-large-row-push {
  top: 61.803398874989476%;
}
.golden-small-row-push {
  top: 38.196601125010524%;
}
.golden-large-row-offset {
  margin-top: 61.803398874989476%;
}
.golden-small-row-offset {
  margin-top: 38.196601125010524%;
}
.golden-large-row-center {
  margin-top: 19.098300562505262%;
}
.golden-small-row-center {
  margin-top: 30.901699437494738%;
}
.golden-typography {
  font-size: 14px;
  line-height: 1.618033988749895;
}
.golden-typography hr {
  margin-top: 22px;
  margin-bottom: 22px;
}
.golden-typography p {
  margin: 0 0 11px;
}
.golden-typography .lead {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 1.618033988749895;
}
@media (min-width: 768px) {
  .golden-typography .lead {
    font-size: 22.65247584249853px;
  }
}
.golden-typography small,
.golden-typography .small {
  font-size: 61.803398874989476%;
}
.golden-typography h1,
.golden-typography h2,
.golden-typography h3,
.golden-typography h4,
.golden-typography h5,
.golden-typography h6,
.golden-typography .h1,
.golden-typography .h2,
.golden-typography .h3,
.golden-typography .h4,
.golden-typography .h5,
.golden-typography .h6 {
  line-height: 1.1618033988749894;
}
.golden-typography h1 small,
.golden-typography h2 small,
.golden-typography h3 small,
.golden-typography h4 small,
.golden-typography h5 small,
.golden-typography h6 small,
.golden-typography .h1 small,
.golden-typography .h2 small,
.golden-typography .h3 small,
.golden-typography .h4 small,
.golden-typography .h5 small,
.golden-typography .h6 small,
.golden-typography h1 .small,
.golden-typography h2 .small,
.golden-typography h3 .small,
.golden-typography h4 .small,
.golden-typography h5 .small,
.golden-typography h6 .small,
.golden-typography .h1 .small,
.golden-typography .h2 .small,
.golden-typography .h3 .small,
.golden-typography .h4 .small,
.golden-typography .h5 .small,
.golden-typography .h6 .small {
  line-height: 1;
}
.golden-typography h1,
.golden-typography h2,
.golden-typography h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}
.golden-typography h1 small,
.golden-typography h2 small,
.golden-typography h3 small,
.golden-typography h1 .small,
.golden-typography h2 .small,
.golden-typography h3 .small {
  font-size: 61.803398874989476%;
}
.golden-typography h4,
.golden-typography h5,
.golden-typography h6 {
  margin-top: 11px;
  margin-bottom: 11px;
}
.golden-typography h4 small,
.golden-typography h5 small,
.golden-typography h6 small,
.golden-typography h4 .small,
.golden-typography h5 .small,
.golden-typography h6 .small {
  font-size: 61.803398874989476%;
}
.golden-typography h1,
.golden-typography .h1 {
  font-size: 68px;
}
.golden-typography h2,
.golden-typography .h2 {
  font-size: 45px;
}
.golden-typography h3,
.golden-typography .h3 {
  font-size: 23px;
}
.golden-typography h4,
.golden-typography .h4 {
  font-size: 18px;
}
.golden-typography h5,
.golden-typography .h5 {
  font-size: 14px;
}
.golden-typography h6,
.golden-typography .h6 {
  font-size: 10px;
}
.golden-typography .page-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
}
.golden-typography ul,
.golden-typography ol {
  margin-top: 0;
  margin-bottom: 11px;
}
.golden-typography ul ul,
.golden-typography ol ul,
.golden-typography ul ol,
.golden-typography ol ol {
  margin-bottom: 0;
}
.golden-typography dl {
  margin-bottom: 22px;
}
.golden-typography dt,
.golden-typography dd {
  line-height: 1.618033988749895;
}
.golden-typography blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
}
.golden-typography blockquote p {
  font-size: 18px;
  line-height: 1.618033988749895;
}
.golden-typography blockquote small {
  line-height: 1.618033988749895;
}
.golden-typography address {
  margin-bottom: 22px;
  line-height: 1.618033988749895;
}
.golden-content {
  width: 435.74456516497344px;
}
.golden-content.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.golden-content.columns-2 {
  width: 100%;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 435.74456516497344px;
  -webkit-column-width: 435.74456516497344px;
  column-width: 435.74456516497344px;
  -moz-column-gap: 22px;
  -webkit-column-gap: 22px;
  column-gap: 22px;
}
.golden-content.columns-3 {
  width: 100%;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 435.74456516497344px;
  -webkit-column-width: 435.74456516497344px;
  column-width: 435.74456516497344px;
  -moz-column-gap: 22px;
  -webkit-column-gap: 22px;
  column-gap: 22px;
}
