.example-grid {
  width: 100%;
  height: 50px;
  background-color: white;
}
.example-grid-block {
  height: 50px;
  background-color: lightgrey;
  border: 1px solid darkgrey;
}
.example-heading {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  padding-left: 11px;
}
.example-content {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  padding: 11px;
  margin-bottom: 11px;
}
.example1-golden-rectangle {
  width: 200px;
  height: 123.60679774997895px;
  background-color: lightgreen;
  display: inline-block;
}
.example2-golden-rectangle {
  width: 123.60679774997895px;
  height: 200px;
  background-color: lightpink;
  display: inline-block;
}
.example3-golden-rectangle {
  width: 300px;
  height: 185.41019662496845px;
  background-color: lightblue;
  display: inline-block;
}
.example4-golden-rectangle {
  width: 46.35254915624211%;
  height: 75%;
  background-color: lightyellow;
  display: inline-block;
  margin: 24px;
}
.example1-golden-image {
  width: 200px;
  height: 123.60679774997895px;
  overflow: hidden;
  display: inline-block;
}
.example1-golden-image img {
  position: relative;
  top: -87px;
  left: -50px;
}
.example2-golden-image {
  width: 100px;
  height: 61.803398874989476px;
  overflow: hidden;
  display: inline-block;
}
.example2-golden-image img {
  position: relative;
  top: -119px;
  left: -82px;
}
.example3-golden-image {
  width: 50px;
  height: 30.901699437494738px;
  overflow: hidden;
  display: inline-block;
}
.example3-golden-image img {
  position: relative;
  top: -134px;
  left: -82px;
}
