.example-grid {
  width: 100%;
  height: 50px;
  background-color: white;
}
.example-grid-block {
  height: 50px;
  background-color: lightgrey;
  border: 1px solid darkgrey;
}
.example.panel .panel-heading {
  background-color: #fff;
}
.example.panel .panel-body .panel-heading {
  background-color: #f5f5f5;
}
.red {
  color: black;
  background-color: red;
  height: 50px;
}
.blue {
  background-color: black;
  color: blue;
  height: 50px;
}
.example-color .example-content {
  background-color: white;
}
.example-color-swatch {
  height: 50px;
  width: 49%;
  display: inline-block;
}
.golden-black {
  background-color: #000;
}
.golden-gray-darker {
  background-color: #171717;
}
.golden-gray-dark {
  background-color: #3c3c3c;
}
.golden-gray {
  background-color: #616161;
}
.golden-gray-light {
  background-color: #c3c3c3;
}
.golden-gray-lighter {
  background-color: #e8e8e8;
}
.golden-white {
  background-color: #FFF;
}
.black {
  background-color: #000;
}
.gray-darker {
  background-color: #222222;
}
.gray-dark {
  background-color: #333333;
}
.gray {
  background-color: #555555;
}
.gray-light {
  background-color: #999999;
}
.gray-lighter {
  background-color: #eeeeee;
}
.white {
  background-color: #FFF;
}
.example1-golden-rectangle {
  width: 200px;
  height: 123.60679774997895px;
  background-color: lightgreen;
  display: inline-block;
}
.example2-golden-rectangle {
  width: 123.60679774997895px;
  height: 200px;
  background-color: lightpink;
  display: inline-block;
}
.example3-golden-rectangle {
  width: 300px;
  height: 185.41019662496845px;
  background-color: lightblue;
  display: inline-block;
}
.example4-golden-rectangle {
  width: 46.35254915624211%;
  height: 75%;
  background-color: lightyellow;
  display: inline-block;
  margin: 24px;
}
.example1-golden-image {
  width: 200px;
  height: 123.60679774997895px;
  overflow: hidden;
  display: inline-block;
}
.example1-golden-image img {
  position: relative;
  top: -87px;
  left: -50px;
}
.example2-golden-image {
  width: 100px;
  height: 61.803398874989476px;
  overflow: hidden;
  display: inline-block;
}
.example2-golden-image img {
  position: relative;
  top: -119px;
  left: -82px;
}
.example3-golden-image {
  width: 50px;
  height: 30.901699437494738px;
  overflow: hidden;
  display: inline-block;
}
.example3-golden-image img {
  position: relative;
  top: -134px;
  left: -82px;
}
