@import "./../bootstrap/variables.less";
@import "./../golden/variables.less";
@import "./../golden/mixins.less";



// Golden Grid

@test-grid-height: 50px;

.example-grid {
	width: 100%;
	height: @test-grid-height;
	background-color: white;
}

.example-grid-block {
	height: @test-grid-height;
	background-color: lightgrey;
	border: 1px solid darkgrey;
}

.example.panel {
	.panel-heading {
		background-color: #fff;
	}
	.panel-body {
		.panel-heading {
			background-color: @panel-default-heading-bg;
		}
	}
}



// Golden Colors

.example-color-swatch {
	height: 50px;
	padding: @golden-line-height-computed / 2;
}
.golden-black {
	background-color: #000;
}
.golden-gray-darker {
	background-color: @golden-gray-darker;
}
.golden-gray-dark {
	background-color: @golden-gray-dark;
}
.golden-gray {
	background-color: @golden-gray;
}
.golden-gray-light {
	background-color: @golden-gray-light;
}
.golden-gray-lighter {
	background-color: @golden-gray-lighter;
}
.golden-gray-lightest {
	background-color: @golden-gray-lightest;
}
.golden-white {
	background-color: #FFF;
}
.text-light {
	color: @golden-gray-light;
}
.text-dark {
	color: @golden-gray-dark;
}

// .black {
// 	background-color: #000;
// }
// .gray-darker {
// 	background-color: @gray-darker;
// }
// .gray-dark {
// 	background-color: @gray-dark;
// }
// .gray {
// 	background-color: @gray;
// }
// .gray-light {
// 	background-color: @gray-light;
// }
// .gray-lighter {
// 	background-color: @gray-lighter;
// }
// .white {
// 	background-color: #FFF;
// }



// Golden Mixins

.example1-golden-rectangle {
	.make-golden-rectangle(200px);
	background-color: lightgreen;
	display: inline-block;
}
.example2-golden-rectangle {
	.make-golden-rectangle(height; 200px);
	background-color: lightpink;
	display: inline-block;
}
.example3-golden-rectangle {
	.make-golden-rectangle(width; 300px);
	background-color: lightblue;
	display: inline-block;
}
.example4-golden-rectangle {
	.make-golden-rectangle(height; 75%);
	background-color: lightyellow;
	display: inline-block;
	margin: 24px;
}

.example1-golden-image {
    .make-golden-image(width; 200px; -50px; -87px);
}
.example2-golden-image {
    .make-golden-image(width; 100px; -82px; -119px);
}
.example3-golden-image {
    .make-golden-image(width; 50px; -82px; -134px);
}